<div class="menu-bar">
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(39, 2, 2); border: 1px solid black;">

      <div class="navbar-up" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link home" routerLink="/home" routerLinkActive="active" >Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link link" routerLink="/juegos" routerLinkActive="active">Juegos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link list" routerLink="/listado" routerLinkActive="active">Resultados</a>
              </li>
              
          </ul>
          <b id="welcome" style="color: yellow;" hidden></b>
          <form class="form-inline my-2 my-lg-0">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link link" routerLink="/registro" routerLinkActive="active"><span class="pi pi-user" style="font-size: 20px; color: rgb(245, 2, 75);">Registrarse</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link link"  id="login"><span class="pi pi-sign-in" style="font-size: 20px; color: rgb(245, 2, 75);" id="si_so" (click) = "logout()">Ingresar</span></a>
                  </li>
              </ul>
          </form>
      </div>
  </nav>
</div>
<style>
  .navbar {
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a:hover, span:hover {
      color: rgb(202, 247, 1);
      font-size: 16px;
      text-shadow: 2px 2px 4px black;
  }
  .home {
      color: orangered; text-shadow: 1px 1px 4px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0);
  }
  .link, .pi {
      text-shadow: 1px 1px 4px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0);
  }
  .link:hover {
      cursor: pointer;
  }
  .list {
      color: rgb(164, 5, 212);
  }
  
</style>
