<div class="panel panel-default" align="center">
  <div class="hero-text">
      <h1 style="font-size:50px; color: rgb(34, 183, 252); text-shadow: 1px 1px 4px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0);">Sala de Juegos</h1>
      <p>Diseñado por Daniel K.</p>
      <a href="https://github.com/dany5k/ANGULAR" target="_blank">En GitHub <i class="fa fa-github"></i></a>&nbsp;
      <a  routerLink="/info" routerLinkActive="active">Quien Soy? <i class="fa fa-user"></i></a>
      <br>
  </div>
  <br>
</div>

